<%= bootstrap_form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.date_select :opened %>
    <%= form.text_area :desc %>
    <%= form.text_field :assigned_technician %>
    <%= form.date_select :closed, include_blank:true %>
    <%= form.text_area :notes %>
    <%= form.submit %>
  
<% end %>
