<p id="notice"><%= notice %></p>

<p>
  <strong>Opened:</strong>
  <%= @ticket.opened %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.desc %>
</p>

<p>
  <strong>Assigned Technician:</strong>
  <%= @ticket.assigned_technician %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @ticket.closed %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @ticket.notes %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
